@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

$font-webiste: "Poppins", sans-serif;
$font-beauty: "Caprasimo", cursive;
$website-theme: #f39300;
$background-color: #f5f5f5;
$text-color-1: #fff;

//default sizes
$default-height: 100vh;
$default-height-1: 25vh;
$default-height-2: 250vh;
$default-width: 68%;
$div-center: 0 auto;

//Media Query View
$breakpoint-tablet: 768px;
$breakpoint-Small-Screen: 1024;
$breakpoint-Midium-Screen: 1280;
$breakpoint-Big-Screen: 1920;
