@import "../utilities/variables.scss";

.home__component {
  width: 72%;
  height: 100vh;
  background-color: $text-color-1;
  margin: 0 auto;

  .home--message {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    .home---sab {
      h1 {
        font-family: $font-beauty;
        letter-spacing: 5px;
        color: $website-theme;
        font-size: 5rem;
        position: relative;
        top: 170px;
        border: none;
      }

      .st-2 {
        font-size: 1.8rem !important;
        font-family: $font-webiste;
        border: none;
        font-weight: 500;
      }
    }

    img {
      width: 100%;
      max-width: 400px;
      position: relative;
      top: 150px;
      right: 60px;
    }
  }

  .discover {
    position: relative;
    top: 30%;
    text-align: center;
    left: 40%;
    width: 250px;
    height: 60px;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $font-webiste;
    border-radius: 20px;
    background-color: $website-theme;
    color: $text-color-1;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      opacity: 0.8;
    }
  }
}
