.top_menu {
  position: fixed;
  width: 100%;
  z-index: 0;
  height: 100px;
  background-color: whitesmoke;
}

.top_menu__component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.menu--itens h1 {
  font-family: var(--font-beauty);
  letter-spacing: 3px;
  font-size: 3.5rem;
  color: var(--website-color-4);
}

.topbar--text-2 {
  font-family: var(--font-webiste);
  letter-spacing: 2px;
  color: var(--website-color-4);
}

.logo--topbar {
  width: 80px;
}

.input--topbar {
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
  text-indent: 30px;
}

::placeholder {
  color: #686666;
}

.fa-user {
  font-size: 2rem;
}

.fa-user:hover {
  transition: 0.5s;
  opacity: 0.8;
}
