.LeftMenu-Component {
    height: 100vh;
    width:  350px;
    background-color: whitesmoke;
    z-index: 20;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.288);
    transition: .8s;
    overflow: hidden;
}
.fa-solid {
    cursor: pointer;
    color: var(--website-color-4);
}
.btn-effect {
    position: fixed;
    font-size: 2rem;
    z-index: 99999999;
    top: 30px;
    left: 20px;
    color: var(--website-color-4);
}

.leftmenu-itens {
    display: grid;
    gap: 36px;
    position: relative;
    top: 100px;
}

.leftmenu--iten {
    display: flex;
    align-items: center;
    align-content: center;
}

.leftmenu--iten i {
    margin-right: 30px;
    font-size: 2rem;
    margin-left: 20px;   
}

.leftmenu--iten-h1 {
    font-family: var(--font-webiste);
    font-size: 1.3rem;
    color: var(--website-color-4);
    font-weight: 300;
    transition: .5s;
    cursor: pointer;
}

/* Close Bar Effect and Styles */

.LeftMenu-Component-clicked {
    height: 100vh;
    width:  70px;
    background-color: whitesmoke;
    z-index: 20;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.288);
    transition: .5s;
}

.h1-effect {
    font-family: var(--font-webiste);
    font-size: 1rem;
    color:#f5f5f5;
    font-weight: 300;
    transition: .8s;
    position: relative;
    display: none;
}